.main {
    width: 60%;
    margin: 2rem auto;
    min-height: 85vh;
    padding: 2rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #333;
}

.description {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #555;
}

.image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto 2rem auto;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.divider {
    margin: 2rem 0;
    border: none;
    height: 2px;
    background-color: #ccc;
}

.sectionTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #222;
}

.ingredients {
    list-style-type: disc;
    padding-left: 2rem;
    color: #444;
    font-size: 1.5rem;
    line-height: 1.6;
}

.instructions {
    font-size: 1.5rem;
    padding-left: 2rem;
    line-height: 1.6;
    color: #444;
}

.notFound {
    text-align: center;
    margin-top: 10rem;
    font-size: 3rem;
    color: red;
}

/* Responsive */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        width: 90%;
    }

    .title, .sectionTitle {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .description {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .ingredients, .instructions {
        line-height: 1.2;
        
    }
}