.background {
    background-color: #a62828;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}