/* // app/page.module.css */
.main {
    flex: 1;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message {
    font-size: 30px;
    text-align: center;
}

.cardContainer {
    width: 50%;
}

/* Responsive */
@media (max-width: 768px) {
    .cardContainer {
        width: 90%;
    }

    .message {
        font-size: 1.5rem;
    }
}