.adminContainer {
    padding: 2rem;
    background-color: #a62828;
    min-height: 100VH;
}
    
.title {
    font-size: 2rem;
}
  
.content {
    display: flex;
    gap: 1rem;
}
  
.headerContainer, .recipesContainer, .recipeViewContainer {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 20px;
    margin: 1rem 0;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
}
  
.recipesContainer, .recipeViewContainer {
    min-height: 70vh;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtitle {
    font-size: 2rem;
    margin-top: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
  
.recipesContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.recipeListWrapper {
    flex-grow: 1;
}
  
.recipeList {
    width: 100%;
    padding: 0;
    border: solid 3px black;
    border-radius: 5px;
    list-style: none;
}
  
.recipeItem {
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}
  
.selected {
    background-color: #f0f0f0;
    font-weight: bold;
}
  
.recipeViewContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
}
  
.recipeFlexWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-height: 0;
}
  
.recipeCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0 2rem;
}
  
.buttonRow {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
}
  
.addButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
    
.addButton, .editButton, .deleteButton, .logoutButton {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.logoutButton {
    background-color: #a62828;
}
  
.addButton {
    background-color: #4caf50;
    display: inline-block;
}
    
.editButton {
    background-color: #2196f3;
}
    
.deleteButton {
    background-color: #f44336;
}
    
.helpMessage, .message {
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem 0;
}
  
.message {
    color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .recipesContainer, .recipeViewContainer {
        width: 100%;
    }

    .addButton, .editButton, .deleteButton, .logoutButton {
        font-size: 1.5rem;
    }
}