.background {
    background-color: #a62828;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipeFormContainer, .loginFormContainer, .signUpFormContainer {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 5rem;
    margin: 3rem;
}

.recipeFormContainer {
    width: 60%;
}

.loginFormContainer, .signUpFormContainer {
    width: 30%;
}

.form {
    margin: 0 auto;
}

.h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.label {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.input, .textarea {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.textarea {
    resize: none;
    border-radius: 10px;
    min-height: 20vh;
}

.button {
    background-color: #a62828;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 1rem auto;
    display: block;
}

.button:hover {
    background-color: #922121;
}

.p {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    color: #a62828;
    margin-bottom: 2rem;
    cursor: pointer;
}

.error {

    padding: 15px;
    border-radius: 10px;
    border: 3px solid rgb(173, 54, 54);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;

    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

/* Responsive */
@media (max-width: 768px) {
    .recipeFormContainer, .loginFormContainer, .signUpFormContainer {
        width: 100%;
        padding: 4rem;
    }
}