/* // app/components/RecipeCard.module.css */

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 2rem;
    margin: 0 auto 2rem auto;
    gap: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}

.cardTextContainer {
    flex: 1;
    text-align: center;
}

.cardTitle {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hr {
    width: 100%;
    height: 2px;
    border-radius: 2px;
}

.cardDescription {
    font-size: 24px;
    color: #333;
}

.cardImgContainer {
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    width: 400px;
    max-width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.cardImage {
    object-fit: cover;
}

/* Responsive */
@media (max-width: 1024px) {
    .cardImgContainer {
        width: 300px;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }

    .cardImgContainer {
        width: 100%;
        max-width: 100%;
        height: 200px;
    }

    .cardTextContainer {
        text-align: center;
        width: 100%;
    }

    .cardTitle {
        font-size: 1.5rem;
    }

    .cardDescription {
        font-size: 1.5rem;
    }
}